h1 {
	color: pink;
	text-shadow: 0px 0px 8px red;
	text-align: center;
}

body {
	background-color: pink;
}

.main-navigation {
	text-align: center;
	justify-content: center;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background: black;
}

ul li {
	display: block;
	position: relative;
	float: left;
	background: purple;
}

li ul {
	display: none;
}

ul li a {
	display: block;
	padding: 1em;
	text-decoration: none;
	white-space: nowrap;
	color: #fff;
}

ul li a:hover {
	background: #2c3e50;
}

li:hover > ul {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	background: grey;
}

li:hover li a:hover {
	background: darkgrey;
}

ul ul ul {
	left: 100%;
	top: 0;
}

