h1 {
	color: white;
	text-align: center;
}

body {
	background-color: #505050;
}

#header {
	border: 2px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 5px 5px 6px;
	position: absolute;

	top: 20px;
	left: 220px;
	height: 120px;
	width: 1400px;
}

#header_img {
	height: 110px;
	width: 440px;
	margin-top: 7px;
}

#loupe {
	width: 240px;
	height: 140px;
	position: absolute;
	left: 1130px;
	top: 0px;
}

#reload_button {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1370px;
	top: 5px;
}

#disconnect_button {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1370px;
	top: 95px;
}

#red_rect {
	border: 3px solid red;
	border-radius: 4px;
	position: absolute;
	top: 155px;
	left: 24px;
	height: 65px;
	width: 65px;
}

#game {
}

#left {
	border: 2px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 5px 5px 6px;

	height: 380px;
	width: 120px;

	position: absolute;

	top: 160px;
	left: 250px;
	text-align: center;
}

#left img {
	width: 70px;
	height: 70px;
}

#right {
	border: 2px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 5px 5px 6px;

	position: absolute;
	top: 160px;
	left: 1470px;

	height: 380px;
	width: 120px;
	text-align: center;
}

#right img {
	width: 70px;
	height: 70px;
}

#brickwall {
	background-image: url("resources/brick.jpg");
	background-repeat: repeat;
	background-size: 27px;
	margin-left: auto;
	margin-right: auto;
	width: 101px;
	height: 54px;
}

#center {
	border: 2px solid #909090;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 5px 5px 6px;

	position: absolute;
	top: 160px;
	left: 404px;

	height: 520px;
	width: 1034px;
}

#center_img {
	height: 98%;
	width: 99%;
	margin: 4px;
}

.actions {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	width: 60px;
	height: 60px;
}

#green_rect {
	background-color: #88FF89;
	border-radius: 5px;
	box-shadow: 5px 5px 6px;

	width: 400px;
	height: 140px;

	position: absolute;
	top: 590px;
	left: 210px;

	padding: 5px;

	font-size: 12px;
}

#green_rect p {
    font-size: 16px;
    font-family: arial;
    margin-left: 15px;
    margin-bottom: 1px;
	margin: 0;
}

.text_emph {
	font-family: none;
	font-size: 30px;
}

.text_red {
	text-shadow: 2px 2px 3px #ff0000;
}

#input {
	margin: 3px;
	padding: 4px;
	height: 30px;
}

#input input {
	margin: 3px;
	width: 290px;
}

#input button {
	/* margin: 3px; */
	/* margin-right: 5px; */
	/* padding-right: 5px; */
	/* margin-top: 3px; */
	/* height: 23; */
	/* padding-top: 0; */
}

#gotoikea {
	position: absolute;
	top: 465px;
	left: 730px;
	height: 170px;
	width: 140px;
}

#gotocrapland {
	position: absolute;
	top: 452px;
	left: 1214px;
	height: 120px;
	width: 205px;
}
