img {
	width: 120px;
	height: 120px;
}

h1 { 
	color: pink;
	text-align: center;
	text-shadow: 2px 2px 5px red;
}

body {
	background-color: pink;
}

#table {
	display: flex;
	justify-content: center
}

table {
	margin: auto;
}

tr td {
	background-color: pink;
	text-align: center;
	outline: 2px solid white;
	margin: auto;
	width: 6vmin;
	height: 4vmin;
	font-size: 2vw;
}

.weight {
	text-align: left; font-size: 11px;
}

.num {
	text-align: right; font-size: 11px;
}

.yellow {
	background-color: #e9efb8;
}

.red {
	background-color: #f24f4f;
}

.darkyellow {
	background-color: #e5c98b;
}

.blue {
	background-color: #b8ecef;
}

.salmon {
	background-color: #f7a5a9;
}

.grey {
	background-color: #c1b2ba;
}

.lightgrey {
	background-color: #ccc5cb;
}

.darkgreen {
	background-color: #708e72;
}

.cyan {
	background-color: #63c69a;
}

.pink {
	background-color: #f492f3;
}

.purple {
	background-color: #ce699a;
}

.image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#copyright {
	justify-content: left;
}
